//- FILE: dialog.jade
//- PURPOSE: Include file to define structure of a dialog box
//- AUTHOR: Jay Vana <jsvana@mtu.edu>

div#dialog-overlay
div#dialog
	div.dialog-content(style="text-align:center")
		p#dialog-message(style="text-align:center; margin-bottom:10px")
		button#dialog-confirm.button Close
		button#dialog-yes.button(style="margin-right:10px") Yes
		button#dialog-no.button No