/* FILE: 404.styl
 * PURPOSE: Styles for the 404 page
 * AUTHOR: Jay Vana <jsvana@mtu.edu>
 */

body
	margin 0
	padding 0
	background-color #1c1c1d
	font-family Helvetica, Arial, sans-serif

div.notFound
	position absolute
	top 50%
	left 50%
	width 97%
	margin 15% 0 0 -50%
	color white
	background-color #002240
	font-size 4em
	padding-top 20px
	padding-left 3%
	padding-bottom 20px